body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  padding: 0;
  background-color: #ACA287;

}

.container {
  width:80%;
  margin:auto;
  overflow: hidden;

}
ul {
  margin: 0;
  padding: 0;

}
header{
  background:#3F2B2C;
  color:#ffffff;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: #EC3047 7px solid;

}
header a {
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size:16px;
}
header ul {
  margin: 0;
  padding: 0;
}
header li {
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}
header nav {
  float: right;
}
header .highlight, header .current a {
  color: #EC3047;
  font-weight: bold;
}
.btn-group button {
  background-color: #241423;
  border: 5px solid #000000;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;

}
.btn-group button:not(:last-child) {
  border-right: none;
}
.btn-group:after {
  content:"";
  clear: both;
  display: table;
}
.btn-group button:hover {
  background-color: #EC3047;
}
